@use "../../scss/variables";

.btn {
  min-height: 2.5rem;
  background: transparent;
  border-color: variables.$primary-color;
  color: variables.$primary-color;

  &:hover,
  &:focus {
    background-color: variables.$primary-color;
    color: #fff;
    border-color: #fff;
  }
}
