@import "../../../../scss/breakpoints";

.wrapper {
  margin: 0;
  padding: 0;
  max-width: 120rem;
  height: 170rem;
  margin-left: auto;
  margin-right: auto;

  .preview-box {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;
    height: 157.71429rem;
  }
}

.body-share {
  height: 100%;

  .preview-box {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.body-markup {
  background: #e4eaf0;
  margin: 0 auto;
  width: calc(120rem + 70px);
  padding: 35px;

  .preview-box {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    background: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.setting-primary-text {
  color: #2196f3;

  > p {
    margin: 0;
  }
}

a {
  color: #2196f3;
  text-decoration: initial;
  text-decoration: none;
}

body {
  font-family: "crimson_text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  display: flex;
  max-width: 120rem;
  font-size: 1.7rem;

  .container-main {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-right: 11rem;
  }

  .container-aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 7.5rem 0 0;
    padding-top: 1.4rem;
  }
}

@include phone {

  .container {
    flex-direction: column;
    padding: 0 6rem;

    .container-main {
      padding: 0;
    }

    .container-aside {
      padding: 0;
    }
  }
}

.top-block {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-block-photo {
  width: 13rem;
  height: 13rem;
  border-radius: .8rem;
  margin-right: 4.5rem;
  background: #bdbdbd;
  background-size: cover;
  background-position: center center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.top-block-name {
  font-size: 4.2rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.top-block-email {
  font-size: 1.9rem;
}

.top-block-contacts {
  font-size: 1.6rem;
  color: #757575;
}

.top-block-city > span,
.top-block-phone > span {
  margin-right: .2rem;
}

.top-block-contacts-sep {
  padding: 0 1.6rem;
}

.top-block-details {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.section {
  margin-bottom: 5.2rem;
}

.section-header {
  font-size: 2.5rem;
  margin-bottom: 2.1rem;
  page-break-after: avoid;

  > span {
    margin-right: .25rem;
  }
}

.section-content {
  font-size: 1.9rem;
  line-height: 1.5;
  color: #212121;
}

.profile {
  font-size: 2rem;
  line-height: 1.3;
  color: #212121;
}

.section-sidebar {
  margin-bottom: 4rem;

  .section-header {
    margin-bottom: 2.2rem;
  }
}

.experience {
  padding-top: .6rem;
  margin-bottom: 1.6rem;
}

.experience-header {
  margin-bottom: 1.4rem;
}

.experience-title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-right: 1.8rem;

  > span {
    background: white;
    padding-right: 1rem;
    font-weight: 600;
  }
}

.experience-date {
  font-size: 1.9rem;
  color: #757575;
  white-space: nowrap;
  display: inline-block;
}

.experience-description {
  color: #333;

  ul,
  ol {
    margin: .7rem 0;
    list-style-position: outside;
    padding-left: 4rem;
  }

  li + li {
    margin-top: .2rem;
  }
}

.experience-header-line-wrap > div {
  display: block;
}

.socials {
  margin-bottom: 1.6rem;
}

.socials-label {
  font-size: 2.2rem;
}

.socials-link {
  font-size: 2.2rem;
  color: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  text-decoration: underline;

  &:hover {
    color: #2196f3;
    text-decoration: underline;
  }
}

.skill {
  padding-bottom: 1rem;
}

.skill-name {
  font-size: 2.2rem;
}

.skill-progress {
  width: 100%;
  height: 1px;
  background: #eee;
  margin-top: .8rem;
  margin-bottom: 1.6rem;
  position: relative;
}

.skill-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: black;
}

.hobbies {
  font-size: 2.2rem;
}

.details-section {
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.details-general-detail {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.details-header {
  font-size: 1.6rem;
  color: #757575;
  margin-bottom: 1.2rem;

  > span {
    margin-right: .15rem;
  }
}

@include phone {

  .btn-download {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-download {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px 18px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  transition: all .4s ease-in-out;
  border: solid 2px #1f1f1f;
  background: transparent;
  margin-top: 10rem;
  color: #1f1f1f;
  width: 60%;
  margin-bottom: 10px;
  text-align: center;

  &:hover,
  &:focus {
    border: solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
    outline: none;
  }
}
