@import "../../../../scss/breakpoints";
/* stylelint-disable-next-line import-notation */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

$default-text-color: #212121;
$default-text-description-color: #333;

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Crimson Text", serif;
}

.resume-header,
.resume-body,
.resume-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media print {
    flex-direction: row;
  }

  @include screen-sm {
    flex-direction: row;
  }
}

.resume-footer {
  margin-bottom: 2rem;

  @media print {
    button {
      display: none;
    }
  }

  > div {
    @media print {
      display: none;
    }

    a {
      display: flex !important;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.section-header {
  color: $default-text-color;
  font-size: 1.25rem;

  span {
    margin-right: 0.2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-basis: 60%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.section > .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .name {
    font-size: 2rem;
    color: #2196f3;
  }

  .contact {
    font-size: 0.9rem;
    color: #757575;

    span {
      margin-right: 0.2rem;
    }

    span.separator {
      padding: 0 0.5rem;
    }
  }
}

.main > .section > .content {
  color: $default-text-color;
  font-size: 1rem;
  line-height: 1.5;

  @media print {
    display: table;
    line-height: 1;
  }

  .experience {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .experience > .experience-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $default-text-description-color;

    .experience-header {
      font-size: 1.15rem;
    }

    .accomplishment-list {
      list-style: circle;
      list-style-position: outside;
      padding-left: 2rem;
      font-size: 0.9rem;
    }

    .experience-summary {
      font-size: 0.9rem;
    }

    .experience-header > span {
      font-size: 0.9rem;
      margin-right: 0.2rem;
    }
  }

  .experience > .experience-container {
    .experience-history-container {
      display: flex;
      flex-direction: column;
    }

    .experience-name {
      font-size: 1.15rem;
      font-weight: 600;
    }

    .experience-title {
      display: flex;
      font-size: 1rem;
      color: #757575;
    }

    .experience-title > span:nth-child(1) {
      font-weight: 800;
      flex-basis: 50%;

      @include screen-sm {
        flex-basis: 30%;
      }
    }
  }
}

.side {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  gap: 0.5rem;
}

.side .links-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.side .skills-container {
  display: flex;
  flex-direction: column;
  color: $default-text-description-color;

  > .skills-list {
    list-style: circle;
    list-style-position: outside;
    padding-left: 2rem;
    font-size: 0.9rem;

    ul {
      list-style: circle;
      list-style-position: outside;
      padding-left: 1.75rem;
      font-size: 0.75rem;
    }
  }
}

.icon-link-container {
  display: flex;
  gap: 1rem;

  svg {
    min-width: 20px;
    color: $default-text-color;
  }

  a {
    color: $default-text-color;
  }
}
