@use "../../scss/breakpoints";
@use "../../scss/variables";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: variables.$primary-color;

  @include breakpoints.screen-sm {
    bottom: 50px;
  }
}

.container {
  display: flex;
  justify-content: center;
  max-height: 50px;
  position: absolute;
  background-color: variables.$primary-color;
}
