@import "./variables.scss";

@import "./breakpoints";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  .center {
    display: flex;
    justify-content: center;
  }
}

.introduction {
  flex-direction: column;
  margin-bottom: 1rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  b {
    font-weight: 800;
  }
}

.picture {
  background-color: #3d4a6e;
  background-size: cover;
  border-radius: 50%;
  background-image: url(../images/jean/webslidepic1.jpg);
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  box-shadow: 0 0 10px 0;
  margin-bottom: 1rem;
}

.wordsCarousel {
  text-align: center;
  margin-bottom: 1rem;

  & > div {
    display: inline-block;
    min-width: 180px;
    min-height: 20px;
    text-align: left;
    margin-left: 10px;
    pointer-events: none;
  }
}
