@mixin rotate-words($number-of-words) {
  @for $i from 2 through $number-of-words {
    ul:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 3;
    }
  }
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  17% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.rw-words {
  display: inline-block;
  min-width: 180px;
  min-height: 29px;
  text-align: left;
  text-indent: 2px;
  margin-left: 10px;
  padding-top: 10px;
  pointer-events: none;
}

.rw-words-1 {
  span {
    position: absolute;
    font-weight: bold;
    opacity: 0;
    animation: rotateWord 15s linear infinite 0s;

    @include rotate-words(5);
  }
}

@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px;
  }
}
